<div class="app-body">
    <main class="main d-flex align-items-center">
        <div class="container" style="min-width: 100%;">
            <div id="shadow" class="row inblock">
                <div class="card col-md-6 col-lg-3 m-2">
                    <div class="text-value text-center">TO DO</div>
                    <button *ngIf="userApplicant.role.isJiraAvailable" (click)="hideCreate()" type="button" class="btn btn-block btn-primary mb-2">Create</button>
                    <div *ngFor="let task of Tasks">
                        <div *ngIf="(task.status === 'TODO')" class="card">
                            <div class="card-body p-4">
                                <div>
                                    <div class="text-field">{{task.name}}</div>
                                    <div>{{task.description}}</div>
                                    <div>{{task.status}}</div>
                                </div>
                                <button *ngIf="(task.userContractor.code === userApplicant.code)" (click)="changeStatus(task.name, task.description, task.userContractor, 'IN_PROGRESS', task.id)" type="button" class="btn btn-block btn-primary">Take <i class="fa fa-arrow-right"></i></button>
                                <button *ngIf="(task.userApplicant.code === userApplicant.code)" (click)="hideUpdate(task.name, task.description, task.status, task.userContractor, task.id)" type="button" class="btn btn-block btn-primary">Change</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="shadow2" class="card col-md-6 col-lg-3 m-2">
                    <div class="text-value text-center">IN PROGRESS</div>
                    <div *ngFor="let task of Tasks">
                        <div *ngIf="(task.status === 'IN_PROGRESS')" class="card">
                            <div class="card-body p-4">
                                <div>
                                    <div class="text-field">{{task.name}}</div>
                                    <div>{{task.description}}</div>
                                    <!-- <div>{{task.userApplicant}}</div>
                                    <div>{{task.userContractor}}</div> -->
                                    <div>{{task.status}}</div>
                                </div>
                                <div *ngIf="(task.userContractor.code === userApplicant.code)" class="input-group mb-2">
                                    
                                    <button (click)="changeStatus(task.name, task.description, task.userContractor, 'TODO', task.id)" type="button" class="btn btn-l btn-primary"><i class="fa fa-arrow-left"></i> TO DO</button>
                                    <button (click)="changeStatus(task.name, task.description, task.userContractor, 'DONE', task.id)" type="button" class="btn btn-r btn-primary">DONE <i class="fa fa-arrow-right"></i></button>
                                </div>
                                <button *ngIf="(task.userApplicant.code === userApplicant.code)" (click)="hideUpdate(task.name, task.description, task.status, task.userContractor, task.id)" type="button" class="btn btn-block btn-primary">Change</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card col-md-6 col-lg-3 m-2">
                    <div class="text-value text-center">DONE</div>
                    <div *ngFor="let task of Tasks">
                        <div *ngIf="(task.status === 'DONE')" class="card" style="min-height: 80%;">
                            <div class="card-body p-4">
                                <div>
                                    <div class="text-field">{{task.name}}</div>
                                    <div>{{task.description}}</div>
                                    <!-- <div>{{task.userApplicant}}</div>
                                    <div>{{task.userContractor}}</div> -->
                                    <div>{{task.status}}</div>
                                </div>
                                <button *ngIf="(task.userContractor.code === userApplicant.code)" (click)="changeStatus(task.name, task.description, task.userContractor, 'IN_PROGRESS', task.id)" type="button" class="btn btn-block btn-primary"><i class="fa fa-arrow-left"></i> IN PROGRESS</button>
                                <button *ngIf="(task.userApplicant.code === userApplicant.code)" (click)="hideUpdate(task.name, task.description, task.status, task.userContractor, task.id)" type="button" class="btn btn-block btn-primary">Change</button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="card col-md-6 col-lg-3 hide" id="createTask">
                <div class="card-body p-4">
                        <button (click)="hideCreate()" type="button" class="btn float-right p-0">
                          <i class="fa fa-close fa-lg"></i>
                        </button>
                    <form>
                        <h1 class="text-center">Create task</h1>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-user"></i></span>
                            </div>
                            <input [(ngModel)]="taskName" name="taskName" type="text" class="form-control" placeholder="Task name" autocomplete="taskName" required>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-user"></i></span>
                            </div>
                            <textarea [(ngModel)]="description" name="description" type="text" class="form-control" placeholder="Description" autocomplete="description" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="users">Choose users:</label>
                            <select [(ngModel)]="userContractor" [ngModelOptions]="{standalone: true}" class="btn-group dropdown-menu float-right mb-3" id="users">
                                <option *ngFor="let user of Users" [ngValue]="user" name="user">
                                    {{user.firstName}}
                                </option>
                            </select>
                        </div>
                        <button (click)="createTask()" type="button" class="btn btn-block btn-success">Create</button>
                    </form>
                </div>
            </div>
            <div class="card hide" id="updateTask">
                <div class="card-body p-4">
                    <button (click)="hideUpdate('', '', '', userContractor, '')" type="button" class="btn float-right p-0">
                        <i class="fa fa-close fa-lg"></i>
                    </button>
                    <form>
                        <h1 class="text-center">Change task</h1>
                        Task name
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-user"></i></span>
                            </div>
                            <input [(ngModel)]="taskName" name="taskName" type="text" class="form-control" placeholder="New task name" autocomplete="updateName" required>
                        </div>
                        Status
                        <div class="mb-2">
                            <label for="stat">Choose status:</label>
                            <select [(ngModel)]="status" name="status" class="btn-group dropdown-menu float-right">
                                <option *ngFor="let status of ['TODO', 'IN_PROGRESS', 'DONE']" name="stat">
                                    {{status}}
                                </option>
                            </select>
                        </div>
                        Description
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-user"></i></span>
                            </div>
                            <textarea [(ngModel)]="description" name="description" type="text" class="form-control" placeholder="Description" autocomplete="description" required></textarea>
                        </div>
                        <div class="mb-2">
                            <label for="user">Choose users:</label>
                            <select [(ngModel)]="userContractor" name="userContractor" class="btn-group dropdown-menu float-right" autocomplete="userContractor" required>
                                <option *ngFor="let user of Users" name="user" [ngValue]="userContractor">
                                    {{user.firstName}}
                                </option>
                            </select>
                        </div>
                        <button (click)="updateTask()" type="button" class="btn btn-block btn-success">Change</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>