<div class="app-body">
    <main class="main d-flex align-items-center">
        <div class="container mt-4" style="border: 1px solid black; min-width: 100%;">
            <div class="row inblock">
                <div class="card col-md-6 col-lg-3 ml-1 mr-1">
                    
                    <div *ngFor="let task of Tasks" class="card">
                        <div class="card-body p-4">
                            <div>
                                <div class="text-field">{{task.name}}</div>
                                <div>{{task.description}}</div>
                                <!-- <div>{{task.userApplicant}}</div>
                                <div>{{task.userContractor}}</div> -->
                                <div>{{task.status}}</div>
                            </div>
                            <!-- <button (click)="onSave()" type="button" class="btn btn-block btn-primary">SAVE Step</button> -->
                        </div>
                    </div>
                </div>
                <div class="card col-md-6 col-lg-3 ml-1 mr-1" style="border-right: 2px solid black;">
                    
                    <div *ngFor="let task of Tasks" class="card">
                        <div class="card-body p-4">
                            <div>
                                <div class="text-field">{{task.name}}</div>
                                <div>{{task.description}}</div>
                                <!-- <div>{{task.userApplicant}}</div>
                                <div>{{task.userContractor}}</div> -->
                                <div>{{task.status}}</div>
                            </div>
                            <!-- <button (click)="onSave()" type="button" class="btn btn-block btn-primary">SAVE Step</button> -->
                        </div>
                    </div>
                </div>
                <div class="card col-md-6 col-lg-3 ml-1 mr-1" style="border-left: 2px solid black;">
                    
                    <div *ngFor="let task of Tasks" class="card">
                        <div class="card-body p-4">
                            <div>
                                <div class="text-field">{{task.name}}</div>
                                <div>{{task.description}}</div>
                                <!-- <div>{{task.userApplicant}}</div>
                                <div>{{task.userContractor}}</div> -->
                                <div>{{task.status}}</div>
                            </div>
                            <!-- <button (click)="onSave()" type="button" class="btn btn-block btn-primary">SAVE Step</button> -->
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="card-body p-4">
                <form>
                  <h1 class="text-center">Create role</h1>
                  <p class="text-center">Create new role</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input [(ngModel)]="taskName" name="roleName" type="text" class="form-control" placeholder="Role name" autocomplete="roleName" required>
                  </div>
  
                  <!-- <button (click)="createRole()" type="button" class="btn btn-block btn-success">Create</button> -->
                </form>
              </div >
            <div class="text-center">
                    <!-- <button (click)="onSumbit()" type="button" class="btn btn-primary mb-3">SUMBIT Steps</button> -->
                    <a class="" [routerLink]="['/dashboard']"><i class="fa fa-long-arrow-left"></i> Back to main page</a>
                </div>
        </div>
    </main>
</div>