<div class="row">
    <div *ngFor="let action of Actions" class="">
        <div  class="card mx-4 mt-4">
            <div class="card-body pb-4" style="width: 100%;">
                <div>
                    <div>
                        <div class="text-value">{{action.name}}</div>
                        <div>Description: {{ action.description }}</div>
                        <div>Number of steps: {{ action.steps.length }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="User.role.isProcessCreatorAvailable">
        <button [routerLink]="['/bpm']" type="button" class="btn btn-primary mb-3">Create Action</button>
    </div>
</div>