<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container ">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="card mx-4">
              <div *ngFor="let role of Role" class="align">
                <div class="btn-group" dropdown>
                  <button type="button" class="btn p-0" dropdownToggle (click)="toggleDropdownArrowClass()">
                    {{ role.name }} <i id="iconDrodown" class="cil-chevron-top"></i>
                  </button>
                  
                  <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                    {{ role.isGeneralStatisticAvailable }}
                      {{ role.isProcessCreatorAvailable }}
                      {{ role.isJiraAvailable }}
                      {{ role.isAddingStaffAvailable }}
                  </div>
                </div>
                <!-- btn-transparent -->
              </div>
              <div class="card-body p-4">
                <div class="dropdown text-center" *ngFor="let role of Role">
                    {{ role.name }}
                  <select [(ngModel)]="choosenRole" name="roleName" type="text" class="btn btn-outline-primary dropdown-toggle mb-3" autocomplete="roleName" required>
                    <option  [ngValue]="role">
                      
                      {{ role.isGeneralStatisticAvailable }}
                      {{ role.isProcessCreatorAvailable }}
                      {{ role.isJiraAvailable }}
                      {{ role.isAddingStaffAvailable }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="card-body p-4">
                <form>
                  <h1 class="text-center">Create role</h1>
                  <p class="text-center">Create new role</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input [(ngModel)]="roleName" name="roleName" type="text" class="form-control" placeholder="Role name" autocomplete="roleName" required>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend align-items-center">
                      <label>Is General Statistic Available:</label>
                    </div>
                    <input type="checkbox" [(ngModel)]="isGeneralStatisticAvailable" name="isGeneralStatisticAvailable" class="form-control" autocomplete="isGeneralStatisticAvailable" required/>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend align-items-center">
                      <label>Is Process Creator Available:</label>
                    </div>
                    <input type="checkbox" [(ngModel)]="isProcessCreatorAvailable" name="isProcessCreatorAvailable" class="form-control" autocomplete="isProcessCreatorAvailable" required/>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend align-items-center">
                      <label>Is Jira Available:</label>
                    </div>
                    <input type="checkbox" [(ngModel)]="isJiraAvailable" name="isJiraAvailable" class="form-control" autocomplete="isJiraAvailable" required/>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend align-items-center  ">
                      <label>Is Adding Staff Available:</label>
                    </div>
                    <input type="checkbox" [(ngModel)]="isAddingStaffAvailable" name="isAddingStaffAvailable" class="form-control" autocomplete="isAddingStaffAvailable" required/>
                  </div>
  
                  <button (click)="createRole()" type="button" class="btn btn-block btn-success">Create</button>
                </form>
              </div >
  
              <div class="card-body text-center">
                <a class="" [routerLink]="['/dashboard']"><i class="fa fa-long-arrow-left"></i> Back to main page</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>    
  </div>