<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4" id="registerForm">
            <div class="card-body p-4">
              <form>
                <h1>Register</h1>
                <p class="text-muted">Create your account</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input [(ngModel)]="firstName" name="firstName" type="text" class="form-control" placeholder="First name" autocomplete="firstName" required>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input [(ngModel)]="middleName" name="middleName" type="text" class="form-control" placeholder="Middle name" autocomplete="middleName" required>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input [(ngModel)]="lastName" name="lastName" type="text" class="form-control" placeholder="Last name" autocomplete="lastName" required>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input [(ngModel)]="password" name="password" type="password" class="form-control" placeholder="Password" autocomplete="password" required>
                </div>
                <!-- <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input [(ngModel)]="registerUserData.new-password" name="new-password" type="password" class="form-control" placeholder="Repeat password" autocomplete="new-password" required>
                </div> -->
                <button (click)="hideJoin()" type="button" class="btn btn-block btn-primary">Create new company</button>
                <button (click)="hideCreate()" type="button" class="btn btn-block btn-primary">Join to the company</button>
              </form>
              <div class="card-body text-center">
                <a class="" [routerLink]="['/login']"><i class="fa fa-long-arrow-left"></i> Back to login</a>
              </div>
            </div>
          </div>
          <div class="card mx-4 hide" id="createCompany">
            <div class="card-body p-4">
              <form>
                <h1>Create your company</h1>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input [(ngModel)]="companyName" name="companyName" type="text" class="form-control" placeholder="Your company name" autocomplete="companyName" required>
                </div>
                <button (click)="register()" type="button" class="btn btn-block btn-primary">Create company</button>
              </form>
            </div>
          </div>
          <div class="card mx-4 hide" id="joinCompany">
            <div class="card-body p-4">
              <form>
                <h1>Join to the company</h1>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input [(ngModel)]="companyToken" name="companyToken" type="text" class="form-control" placeholder="Company token" autocomplete="companyName" required>
                </div>
                <button (click)="register()" type="button" class="btn btn-block btn-primary">Create Account</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
