<div class="row" >
    <div class="col-lg-12" id="shadow">
        <div class="card mx-4 mt-4">
            <div class="card-body pb-4">
                <!-- <div class="card"> -->
                    <div class="card-body inblock">
                        <div class="mr-5" style="width: 25%;">
                            <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="" style="width: 100%;"/>
                        </div>
                        <div class="mr-5">
                            <!-- <div class="text-value">Name:</div>
                            <h1>Login</h1> -->
                            <p class="text-muted mb-0">Name:</p>
                            <div class="text-value">{{User.firstName}} {{User.lastName}} {{User.middleName}}</div>
                            <p class="text-muted mb-0">Department:</p>
                            <div class="text-value">{{User.department.name}}</div>
                            <p class="text-muted mb-2">Role:</p>
                            <table class="table table-bordered table-striped table-sm" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Role name</th>
                                        <th>General Statistic Available</th>
                                        <th>Process Creator Available</th>
                                        <th>Jira Available</th>
                                        <th>Adding Staff Available</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td *ngIf="!(User.role.name === 'default') else defalt">{{ User.role.name }}</td>
                                        <ng-template #defalt> 
                                            <td class="text-value"><span class="badge badge-warning">Default!</span></td>
                                        </ng-template>

                                        <td *ngIf="User.role.isGeneralStatisticAvailable else defalt1"><span class="badge badge-success">Yes</span></td>
                                        <ng-template #defalt1> 
                                            <td><span class="badge badge-danger">No</span></td>
                                        </ng-template>

                                        <td *ngIf="User.role.isProcessCreatorAvailable else defalt2"><span class="badge badge-success">Yes</span></td>
                                        <ng-template #defalt2> 
                                            <td><span class="badge badge-danger">No</span></td>
                                        </ng-template>

                                        <td *ngIf="User.role.isJiraAvailable else defalt3"><span class="badge badge-success">Yes</span></td>
                                        <ng-template #defalt3> 
                                            <td><span class="badge badge-danger">No</span></td>
                                        </ng-template>

                                        <td *ngIf="User.role.isAddingStaffAvailable else defalt4"><span class="badge badge-success">Yes</span></td>
                                        <ng-template #defalt4> 
                                            <td><span class="badge badge-danger">No</span></td>
                                        </ng-template>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                        <!-- <div class="card"> -->
                            <div class="m-4" style="border-top: 2px solid gray;">
                                <h1 class="text-center">Your tasks</h1>
                            
                        <div class="card-body p-4" class="inblock" >
                            
                            <div class="inblock">
                            <div *ngFor="let task of Tasks" class="">
                                <div class="m-2">
                                    <div *ngIf="(task.userContractor.id === User.id)" class="card">
                                        <div class="card-body p-4">
                                            <div>
                                                <div class="text-value">{{task.name}}</div>
                                                <div>{{task.description}}</div>
                                                <div>{{task.status}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <!-- </div> -->
                        <!-- <button (click)="changeStatus(task.name, task.description, task.userContractor, 'IN_PROGRESS', task.id)" type="button" class="btn btn-block btn-primary">Take</button>
                        <button *ngIf="(task.userApplicant.code === userApplicant.code)" (click)="hideUpdate(task.name, task.description, task.status, task.userContractor, task.id)" type="button" class="btn btn-block btn-primary">Change</button> -->
                    </div>
                <!-- </div> -->
                <!-- <table class="table table-bordered table-striped table-sm" style="width:100%">
                <thead>
                    <tr>
                        <th>firstName</th>
                        <th>lastName</th>
                        <th>middleName</th>
                        <th>UserName</th>
                        <th>roleName</th>
                        <th>changeRole</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of Users">
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.middleName }}</td>
                        <td>{{ user.code }}</td>
                        <td *ngIf="!(user.role.name === 'default') else defalt"><span class="badge badge-success">{{ user.role.name }}</span></td>
                        <ng-template #defalt> 
                            <td><span class="badge badge-warning">Default!</span></td>
                        </ng-template>
                        <td attr.id="selectElem{{user.code}}">
                            <button class="btn" (click)="togleHideAndShadow(user.id)"><i class="icon-plus"></i></button>
                        </td>
                    </tr>
                </tbody>
                </table> -->
            </div>
            <div class="card-body p-4 text-center">
                <!-- <a class="" [routerLink]="['/dashboard']"><i class="fa fa-long-arrow-left"></i>Back to main page</a> -->
            </div>
        </div>
    </div>
    <!-- <div class="card mx-4 hide" id="changeRole">
        <div class="card-body p-4">
            <form>
                <h1>Change role</h1>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-list"></i></span>
                    </div>
                    <select [(ngModel)]="selectedRole" [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let role of Role" [ngValue]="role"> {{role.name}}</option>
                    </select>
                </div>
                <button (click)="addRoleToUser()" type="button" class="btn btn-block btn-primary">Change role</button>
          </form>
        </div>
    </div> -->
    
</div>