<div class="animated fadeIn">
  <div class="row">
    
    <div attr.id="length{{department.name}}" *ngFor="let department of Departments" class="col-sm-6 col-lg-3" style="min-height: 50%;">
    
      <div attr.id="departElem{{department.name}}" class="card text-white bg-info">
        <div class="card-body pb-4">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div (click)="toggleDepartment(department.name)" style="border: 2px solid black;">
            <div class="text-value">{{department.name}}</div>
            <div>Company token: {{ department.companyToken }}</div>
            <div>Number of workers: {{ department.users.length }}</div>
          </div>
        </div>
      </div>
    
    <div attr.id="userElem{{department.name}}" class="hide">
      <div class="card" style="width: 60%;">
        <button type="button" class="btn btn-primary" (click)="toggleDepartment(department.name)" style="width:100%">
          GO back
        </button>
        <div class="card-body pb-4">
          <div class="text-value">{{department.name}}</div>
          <div>Company token: {{ department.companyToken }}</div>
          <div>Number of workers: {{ department.users.length }}</div>
          
        </div>

        <div style="border-top: 2px solid black;">
          <table class="table table-bordered table-striped table-sm" style="width:100%;">
            <thead>
            <tr>
              <th>firstName</th>
              <th>lastName</th>
              <th>middleName</th>
              <th>code</th>
              <th>roleName</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of department.users" class="card-body pb-4">
              <td>{{ user.firstName }}</td>
              <td>{{ user.lastName }}</td>
              <td>{{ user.middleName }}</td>
              <td>{{ user.code }}</td>
              <td *ngIf="!(user.role.name === 'default') else defalt"><span class="badge badge-success">{{ user.role.name }}</span></td>
              <ng-template #defalt> 
                <td><span class="badge badge-warning">Default!</span></td>
              </ng-template>
            </tr>
          </tbody>
          </table>
        </div>
      </div>
      
      <div id="allUsers" class="card float-right p-3" style="width: 100%;">
        <table class="table table-bordered table-striped table-sm" style="width:100%">
          <thead>
          <tr>
            <th>firstName</th>
            <th>lastName</th>
            <th>middleName</th>
            <th>code</th>
            <th>roleName</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of Users" class="card-body pb-4">
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.middleName }}</td>
            <td>{{ user.code }}</td>
            <td *ngIf="!(user.role.name === 'default') else defalt"><span class="badge badge-success">{{ user.role.name }}</span></td>
              <ng-template #defalt> 
                <td><span class="badge badge-warning">Default!</span></td>
              </ng-template>
            <td><button class="btn" (click)="addUserDeparts(department.name, user)"><i class="icon-plus"></i></button></td>
          </tr>
        </tbody>
        </table>
      </div>
    </div>
  </div>
  
    
    <!-- <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="text-value">HR</div>
          <div>Members online: 4</div>
        </div>
        
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="text-value">Marketing</div>
          <div>Members online: 12</div>
        </div>
        
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="text-value">Sales</div>
          <div>Members online: 9</div>
        </div>
        
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="text-value">Finance</div>
          <div>Members online: 5</div>
        </div>
        
      </div>
    </div> -->
  </div><!--/.row-->
  
</div>
