.hide {
    display: none;
}
.inblock{
    display: flex;
    flex-direction: row;
}
.delite{
    background-color: #F86C6B;
}
.updButton{
    background-color: #63C2DE;
}
.updButton:hover{
    background-color: #1B8EB7;
}