.hide {
    display: none;
}
.break {
    flex-basis: 100%;
    height: 0;
  }
.newline {
    display: inline;
}
.inblock{
    display: flex;
    flex-direction: row;
}
.newheight{
    min-height: 80%;
}