<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container ">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form>
                <h1 class="text-center">Create department</h1>
                <p class="text-center">Create new department</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input [(ngModel)]="departmentName" name="departmentName" type="text" class="form-control" placeholder="Department name" autocomplete="departmentName" required>
                </div>
                <div class="dropdown text-center">
                  <select [(ngModel)]="choosenRole" name="roleName" type="text" class="btn btn-outline-primary dropdown-toggle mb-3" autocomplete="roleName" required>
                    <option *ngFor="let role of Role" [value]="role">
                      {{ role }}
                    </option>
                  </select>
                </div>
                <button (click)="createDep()" type="button" class="btn btn-block btn-success">Create</button>
              </form>
            </div>

            <div class="card-body p-4">
              <form>
                <h1 class="text-center">Create role</h1>
                <p class="text-center">Create new role</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input [(ngModel)]="roleName" name="roleName" type="text" class="form-control" placeholder="Role name" autocomplete="roleName" required>
                </div>
                <button (click)="createRole()" type="button" class="btn btn-block btn-success">Create</button>
              </form>
            </div >

            <div class="card-body text-center">
              <a class="" [routerLink]="['/dashboard']"><i class="fa fa-long-arrow-left"></i> Back to main page</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>    
</div>